body {
    font-family: Arial, sans-serif;
    background-color: #575757;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Oculta la barra de desplazamiento del cuerpo */
}

.container {
    background-color: #575757;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    max-height: 80vh; /* Limita la altura máxima de la lista */
    overflow-y: auto; /* Permite el desplazamiento vertical */
}

h1 {
    text-align: center;
    color: #ffffff;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #000000;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

li:hover {
    background-color: #575757;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

a:hover {
    color: #002144;
}
